@media (max-width:1445px) {
	.submit{
		font-size: 1em;
	}
}



@media (max-width:1355px) {
	.begin-button{
		width: 17%;
		font-size: 0.9em;
		padding-top: 7px;
	}
	.addbutton {
		width: 20%;
		font-size: 1em;
		margin-bottom: 20px;
	}

}

@media (max-width:1205px) {
	.submit, .change{
		font-size: 0.8em;
	}
	.delete-button{
		margin-bottom: 20px;
	}
}

@media (max-width:955px) {
	.change{
		width: 100px;
	}
	.submit {
		width: 150px;
		margin-right: 15%;
		margin-bottom: 20px;
	}
}

@media (max-width:770px) {
	.begin-button{
		width: 35%;
	}
	.delete-button, .changebutton{
		width: 20%;
		font-size: 0.9em;
		margin-bottom: 20px;
	}
	.delete-button{
		padding-top: 7px;
	}
	.addbutton {
		width: 35%;
		font-size: 0.9em;
	}
}

@media (max-width:370px) {
	.begin-button{
		height: 50px;
	}	
	.delete-button, .changebutton{
		margin-top: -40px;
	}
	.addbutton {
		margin-top: -40px;
	}
}